extends ../_shared/_base

block body
    form(action="/auth/sign-in" method="POST")
        input.form-control(name="username", placeholder="Enter username")
        input.form-control(name="password", type="text", placeholder="Enter password")
        button.btn.btn-success
            | Sign In
