<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="/static/css/app.css")
body
    .container
        .row
            .col-xs-12
                nav
                    ul.nav
                        li
                            a#nav-btn-todos(href="/todos")
                                | TODOs
                        li
                            a(href='/auth/sign-up')
                                | Sign up
                        li
                            a(href='/auth/sign-in')
                                | Sign in
        .row
            .col-xs-12
                block body
    
