include _nav

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/app.css")

body
    .row
        .col-xs-12
            +nav(user)
    .container
        .row
            .col-xs-12.text-center
                block body
    
    script(src="/libs/jquery/dist/jquery.js")
    script(src="/static/js/dropdown.js")
    
