<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
body
    .container
        .row
            .col-xs-12
                nav
                    ul.nav
                        li
                            a#nav-btn-todos(href="/todos")
                                | TODOs
        .row
            .col-xs-12
                block body
    