extends ../../_shared/_base

block body
    ul.subnav.list
        li.nav-item
            a#btn-subnav-all(href="/todos")
                | All
        li.nav-item
            a#btn-subnav-create(href="/todos/form")
                | Add
    block content