extends ../../_shared/_base

block body
    ul
        li
            a#btn-subnav-all(href="/todos")
                | All
        li
            a#btn-subnav-create(href="/todos/form")
                | Add
    block content